# Ignore all files and direcotories leading with underscore symbol
**/test/

_archived/

**/*.npz
**/*.pyc
**/__pycached__/
.pylintrc
.rbcsignore
.env/
.idea/
.vscode/
**/.ipynb_checkpoints/
configs/

# Never track binary files including: pdf
README.pdf
